@media screen and (min-width:768px){
}

body{
    margin: 0;
}

main{
    margin: 0px 100px;
}

.neko1 {
    text-align:center;
}

.neko1 img{
    width: 50%;
}

h1{
    background color: aquamarine;
    padding: 10px;
    margin: 10px;
}

ul{
    text-align:center;
    padding: 0;
}

li{
    display: inline-block;
    width: 100px;
    height: 25px;
    text-align:center;
    border: 2px solid #000;
}

.hyou1{
    text-align:center;   
}

table {
    text-align:center;
    max-width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px 70px;
    border: solid 1px black;
}

table th{
    background-color: aquamarine;
}

.a1{
    margin-bottom: 100px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.a2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

h2{
    color: red;
}

h3{
    color: blue;
}

.neko2 img{
    width: 200px 
}

.example {
  position: relative;
}

.example p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.example img {
    width: 100%;
}

#to-pagetop {
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: none;
}
 
#to-pagetop a {
	padding: 20px;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	display: block;
	background-color: white;
	color: black;
}
 
#to-pagetop a:hover {
	background-color: #adddff;
	color: #003459;
}
